## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rest_api_demo_test?createDatabaseIfNotExist=true&autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
    username: xxx
    password: xxx
    platform: mysql
    initialization-mode: always

  ## Hibernate Properties
  # The SQL dialect makes Hibernate generate better SQL for the chosen database
  jpa:
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.MySQL5InnoDBDialect"

    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ddl-auto: update

## JWT Secret
jwt:
  secret: "c2d8be23bb4915ba85af2e1754faf0865506d6587b68c1d65df1fd22a29cd90cbf31f5078e4a46ddae1e668195d79dcf27868b1cc1b27fa1042a637a1440a54d"
  expireTimeInHour: 5
